name: Django CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 체크아웃 레포지토리
        uses: actions/checkout@v3

      - name: 파이썬 설정
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'

      - name: 의존성 설치
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: 서버 배포
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e
            cd /home/ubuntu/dalim_api
            git pull origin main
            
            echo "DJANGO_SECRET_KEY=\"${{ secrets.SECRET_KEY }}\"" > .env
            echo "DJANGO_DEBUG='${{ secrets.DEBUG }}'" >> .env
            
            source venv/bin/activate

            pip install -r requirements.txt
            cd /home/ubuntu/dalim_api
            
            python3 manage.py collectstatic --noinput
            sudo systemctl restart site.service